<!DOCTYPE >
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="description" content="Discover MonitorEth, the ultimate platform for visualizing and extracting precise statistical data from Ethereum's Beacon Nodes and validators." />

    <link rel="canonical" href="https://monitoreth.io/" />
    <title>Ethereum Network Performance with MonitorEth</title>
	<meta itemprop="name" content="MonitorEth" />
	<meta itemprop="image" content="../>/static/img/favicon.png" />
	<meta itemprop="description" content="Monitor Ethereum with <3 by MigaLabs" />

    <!-- Favicons -->
    <link href="<!--# echo var="web_base_endp" default="no" -->/static/img/favicon.png" rel="icon" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;600;700&display=swap" rel="stylesheet" />

	<!-- Template Main CSS File -->
    <link href="<!--# echo var="web_base_endp" default="no" -->/static/css/landingpage.css" rel="stylesheet" />
  </head>
  <body>
    <div class="landing-container">
      <div class="image-left">
        <img src="<!--# echo var="web_base_endp" default="no" -->/static/img/left-image.jpg" alt="Left Image">
      </div>
      <div class="image-right">
        <img src="<!--# echo var="web_base_endp" default="no" -->/static/img/placeholder.jpeg" alt="Right Image">
      </div>
    </div>
    <main class="content">
      <div class="content-wrapper">
        <img class="centered-item content-image" src="<!--# echo var="web_base_endp" default="no" -->/static/img/logo.png" alt="Migalabs logo" />
        <div class="content-container centered-item">
          <h1>Ethereum Network Monitoring</h1>
          <span class="content-span">Welcome to</span>
          <span class="content-h1">monitor eth</span>
        </div>
        <div class="content-links centered-item">
          <a href="<!--# echo var="web_base_endp" default="no" -->/nodes" class="content-box" id="left-box">
            <h2 class="content-h2">Ethereum Beacon Nodes</h2>
            <p class="content-p">Inspect the inmensity of Ethereum consensus layer network</p>
          </a>
          <a href="<!--# echo var="web_base_endp" default="no" -->/node_metrics" class="content-box" id="right-box">
            <h2 class="content-h2">Node System Metrics</h2>
            <p class="content-p">Monitor our Ethereum Node System's performace</p>
          </a>
        </div>
      </div>
    </main>
    <footer class="footer">
      <p class="footer-p">Powered with &hearts; by <a href="https://www.migalabs.io" target="_blank" class="link">MigaLabs</a> 2023-2024</p>
    </footer>
    <script src="<!--# echo var="web_base_endp" default="no" -->/static/js/landingpage.js"></script>
  </body>
</html>
