<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>MonitorEth</title>
	<meta itemprop="name" content="MonitorEth" />
	<meta itemprop="image" content="../static/img/favicon.png" />
	<meta itemprop="description" content="Monitor Ethereum with <3 by MigaLabs" />

	<!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="<!--# echo var="web_base_endp" default="no" -->/static/vendor/aos/aos.css" rel="stylesheet">
  <link href="<!--# echo var="web_base_endp" default="no" -->/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="<!--# echo var="web_base_endp" default="no" -->/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="<!--# echo var="web_base_endp" default="no" -->/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="<!--# echo var="web_base_endp" default="no" -->/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="<!--# echo var="web_base_endp" default="no" -->/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="<!--# echo var="web_base_endp" default="no" -->/static/css/dashboard.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: MyResume - v4.7.0
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="#home" class="nav-link scrollto active validaotors-page"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#cli-div" class="nav-link scrollto"><i class="bi bi-pie-chart-fill"></i> <span>Client Diversity</span></a></li>
        <li><a href="#hosting-dist" class="nav-link scrollto"><i class="bi bi-aspect-ratio"></i> <span>Hosting Distribution</span></a></li>
        <li><a href="#arch-dist" class="nav-link scrollto"><i class="bi bi-percent"></i> <span>Architecture Distribution</span></a></li>
        <li><a href="#os-dist" class="nav-link scrollto"><i class="bi bi-microsoft"></i> <span>Operating System Distribution</span></a></li>
        <li><a href="#ev-cli-dist" class="nav-link scrollto"><i class="bi bi-graph-up"></i> <span>Evolution of client Diversity</span></a></li>
        <li><a href="#act-nodes" class="nav-link scrollto"><i class="bi bi-activity"></i> <span>Active Nodes</span></a></li>
        <li><a href="#geo-dist" class="nav-link scrollto"><i class="bi bi-pin-map-fill"></i> <span>Geographical Distribution</span></a></li>
        <li><a href="#rtt" class="nav-link scrollto"><i class="bi bi-bar-chart-fill"></i> <span>RTT</span></a></li>
        <li><a href="#advertised-attest" class="nav-link scrollto"><i class="bi bi-bezier2"></i> <span>Advertised Attestation Subnets Subscription</span></a></li>
        <li><a href="#nodes-IP" class="nav-link scrollto"><i class="bi bi-wifi"></i> <span>Nodes per IP</span></a></li>
        <li><a href="#contact" class="nav-link scrollto"><i class="bi bi-envelope"></i> <span>Contact</span></a></li>
        <li><a href="/" class="nav-link scrollto"><i class="bi bi-arrow-return-left"></i> <span>Back to main page</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  <!-- ======= Landing ======= -->
  <section id="home" class="validators-page d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Ethereum CL Network Public Dashboard</h1>
      <p>Discover the Beacon Chain Validator Node's <span class="typed" data-typed-items="Client Diversity, Active Nodes, Geographical Distribution, Latencies"></span></p>

      <p style="font-size: 18px;">Powered by MigaLabs </p>
      <div class="social-links">
        <a href="https://migalabs.io/" class="window"><i class="bi bi-window"></i></a>
        <a href="https://github.com/migalabs" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://twitter.com/miga_labs" class="twitter"><i class="bx bxl-twitter"></i></a>
      </div>
    </div>
  </section><!-- Landing -->

  <main id="main">


     <!-- ======= Client Diversity Section ======= -->
    <section id="cli-div" class="mtbs">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Client Diversity</h2>
        </div>
        <div class="mtbs-graph">
          <iframe class="mtbs-emb"
            src="<!--# echo var="web_base_endp" default="no" -->/public/question/0f8fa907-4983-4be5-bb7b-0dac4c835c0c"
            frameborder="0"
            width="100%"
            height="750"
            background="a5b2b5"
            allowtransparency
          ></iframe>
        </div>

      </div>
    </section><!-- End Client Diversity Section -->


    <!-- ======= Hosting Distribution Section ======= -->
    <section id="hosting-dist" class="mtbs">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Node Hosting Distribution</h2>
        </div>

        <div class="mtbs-graph">
          <iframe class="mtbs-emb"
            src="<!--# echo var="web_base_endp" default="no" -->/public/question/c405973a-3826-41e4-afe2-c0934caeb816"
            frameborder="0"
            width="100%"
            height="750"
            background="a5b2b5"
            allowtransparency
          ></iframe>
        </div>

      </div>
    </section><!-- End Hosting Distribution Section -->


    <!-- ======= Architecture Distribution Section ======= -->
    <section id="arch-dist" class="mtbs">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Architecture Distribution</h2>
        </div>

        <div class="mtbs-graph">
          <iframe class="mtbs-emb"
            src="<!--# echo var="web_base_endp" default="no" -->/public/question/741b6b6d-f263-421b-8d3e-7f73837e21f4"
            frameborder="0"
            width="100%"
            height="750"
            background="a5b2b5"
            allowtransparency
          ></iframe>
        </div>

      </div>
    </section><!-- End Architecture Distribution Section -->

    <!-- ======= OS Distribution Section ======= -->
    <section id="os-dist" class="mtbs">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>OS Distribution</h2>
        </div>

        <div class="mtbs-graph">
          <iframe class="mtbs-emb"
            src="<!--# echo var="web_base_endp" default="no" -->/public/question/67011da6-5061-436b-8432-fb1ebd464a4f"
            frameborder="0"
            width="100%"
            height="750"
            background="a5b2b5"
            allowtransparency
          ></iframe>
        </div>

      </div>
    </section><!-- End OS Distribution Section -->

    <!-- ======= Client Diversity Evolution Section ======= -->
    <section id="ev-cli-dist" class="mtbs">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Client Diversity Evolution</h2>
        </div>

        <div class="mtbs-graph">
          <iframe class="mtbs-emb"
            src="<!--# echo var="web_base_endp" default="no" -->/public/question/19123dfc-4c55-48c7-a9d6-db36732e4763"
            frameborder="0"
            width="100%"
            height="750"
            allowtransparency
          ></iframe>
        </div>

      </div>
    </section><!-- End Client Diversity Section -->

    <!-- ======= Active Nodes Section ======= -->
    <section id="act-nodes" class="mtbs">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Active Nodes</h2>
        </div>

        <div class="mtbs-graph">
          <iframe class="mtbs-emb"
            src="<!--# echo var="web_base_endp" default="no" -->/public/question/0f8a0778-992d-4f75-b07a-1e22814d2137"
            frameborder="0"
            width="100%"
            height="750"
            allowtransparency
          ></iframe>
        </div>

      </div>
    </section><!-- End Active Nodes Section -->


    <!-- ======= Geo Distribution ======= -->
    <section id="geo-dist" class="mtbs">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Geographical Distribution</h2>
        </div>

        <div class="mtbs-graph">
          <iframe class="mtbs-emb"
              src="<!--# echo var="web_base_endp" default="no" -->/public/question/607e6d04-061e-40a8-819c-02d089915829"
              frameborder="0"
              width="100%"
              height="750"
              allowtransparency
          ></iframe>
        </div>

      </div>
    </section><!-- End Geo Distribution -->


    <!-- ======= RTT Distribution ======= -->
    <section id="rtt" class="mtbs">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>RTT Distribution</h2>
        </div>

        <div class="mtbs-graph">
          <iframe class="mtbs-emb"
              src="<!--# echo var="web_base_endp" default="no" -->/public/question/97a451bf-a792-406d-bc98-0a2c3289e13d"
              frameborder="0"
              width="100%"
              height="750"
              allowtransparency
          ></iframe>
        </div>

      </div>
    </section><!-- End Geo Distribution -->

    <!-- ======= Number of Attestations Distribution ======= -->
    <section id="advertised-attest" class="mtbs">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Advertised Attestation Subnets Subscription</h2>
        </div>

        <div class="mtbs-graph">
          <iframe class="mtbs-emb"
              src="<!--# echo var="web_base_endp" default="no" -->/public/question/696cbd81-1cb8-441e-8e7e-f5494012c26f"
              frameborder="0"
              width="100%"
              height="750"
              allowtransparency
          ></iframe>
        </div>

      </div>
    </section><!-- End Number of Attestations Distribution -->

    <!-- ======= Nodes per IP Distribution ======= -->
    <section id="nodes-IP" class="mtbs">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Beacon Nodes per IP Distribution</h2>
        </div>

        <div class="mtbs-graph">
          <iframe class="mtbs-emb"
              src="<!--# echo var="web_base_endp" default="no" -->/public/question/5e7ded7c-0994-4f26-a61c-d51f941dd863"
              frameborder="0"
              width="100%"
              height="750"
              allowtransparency
          ></iframe>
        </div>

      </div>
    </section><!-- End Nodes per IP Distribution -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact Us</h2>
        </div>

        <div class="row mt-1">

          <div class="col-lg-4">
            <div class="info">

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <a href="migalabs@protonmail.com">migalabs@protonmail.com</a>
              </div>

            </div>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Powered By MigaLabs</h3>
      <div class="social-links">
        <a href="https://migalabs.io" class="window"><i class="bi bi-window"></i></a>
        <a href="https://github.com/migalabs" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://twitter.com/miga_labs" class="twitter"><i class="bx bxl-twitter"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>MigaLabs</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="<!--# echo var="web_base_endp" default="no" -->/static/vendor/aos/aos.js"></script>
  <script src="<!--# echo var="web_base_endp" default="no" -->/static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="<!--# echo var="web_base_endp" default="no" -->/static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="<!--# echo var="web_base_endp" default="no" -->/static/vendor/typed.js/typed.min.js"></script>

  <!-- Template Main JS File -->
  <script src="<!--# echo var="web_base_endp" default="no" -->/static/js/main.js"></script>

</body>

</html>
